<%= form_with(url: "/parkings/#{@parking[:id]}", method: :post, local: true, authenticity_token: true) do |form| %>
  <% if action_name == 'edit' %>
    <%= hidden_field_tag "_method", "PUT" %>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome do Estacionamento" %>
    <%= form.text_field :name, class: "form-control", value: @parking[:name] %>
  </div>

  <div class="form-group">
    <%= form.label :address, "Endereço" %>
    <%= form.text_field :address, class: "form-control", value: @parking[:address] %>
  </div>

  <div class="form-group">
    <%= form.label :opening_time, "Horário de Abertura" %>
    <%= form.time_field :opening_time, class: "form-control", value: format_time(@parking[:opening_time]) %>
  </div>

  <div class="form-group">
    <%= form.label :closing_time, "Horário de Fechamento" %>
    <%= form.time_field :closing_time, class: "form-control", value: format_time(@parking[:closing_time]) %>
  </div>

  <div class="form-group">
    <%= form.label :cost_per_hour, "Custo por Hora" %>
    <%= form.number_field :cost_per_hour, class: "form-control", value: @parking[:cost_per_hour] %>
  </div>

  <%= form.submit "Salvar", class: "btn success-background mt-3" %>
<% end %>
