<div class="page-title mb-3">
  <h3><%= @parking[:name] %></h3>

  <%= link_to "Voltar para estacionamentos", parkings_path, class: "btn danger-background" %>
</div>

<%= render layout: 'layouts/shared/card' do %>
  <p class="mb-0"><strong>Endereço:</strong> <%= @parking[:address] %></p>
  <p class="mb-0"><strong>Horário de abertura:</strong> <%= format_time(@parking[:opening_time]) %></p>
  <p class="mb-0"><strong>Horário de fechamento:</strong> <%= format_time(@parking[:closing_time]) %></p>
  <p class="mb-0"><strong>Custo por hora:</strong> <%= format_cost(@parking[:cost_per_hour]) %></p>
  <p class="mb-0"><strong>Criado em:</strong> <%= format_date(@parking[:created_at]) %></p>
  <p class="mb-0"><strong>Última edição em:</strong> <%= format_date(@parking[:updated_at]) %></p>
  
  <%# render partial: 'layouts/shared/resource-actions',
             locals: {
             } %>
<% end %>
